.btn {
    background-color: #e2caca;
    border-radius: 4px;
    border-color: #3023a3;
    border-width: 2pt;
    border: 2px solid #3023a3;
    padding: 10px 10px;
    text-align: center;
    
    display: inline-block;
    font-size: 14px;
}

.btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 7px 7px 0 rgba(0,0,0,0.19);
}
